*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;	
	font-family: Arial, Helvetica, sans-serif;
}
/* nav for pc*/
@import url(https://fonts.google.com/specimen/Notable?query=notabl);
.flexbox{	
	Display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	
	align-items:center;
	background-color:#6ca673;
	
}
.head-1{
	
	align-self:flex-start;
	justify-content:flex-start;
	float:left;
	width:10%;
}
.head-2{
	
 font-family:Notable;	
}
.head-3{
	
	font-family:Notable;
}
.nav{	
	
	text-decoration:none;
	font-size:1.6rem;
	float:right;
	color:#fff;
	font-family:Notable;

}
.nav-link{
	
	
	list-style:none;
	float:left;
	background:#00442b;
}



li a{
	display:block;
	padding:14px 16px;
	flex-direction:row;
	text-align:right; 
	
}
li a:hover{
	background-color:#6ca673
}
label{
	
	font-size:26px;
	margin:0 40px;	
	line-height:70px;
	display:none;
	
}
#toggle{
	display:none;
}
/* index.html for pc*/
header{
	background:#00442b;
	width:100%;
	color:#fff
}
	

.video{
	height:;
	width:50%;
	
}
.smartsolar,.multiplus,.easysolar{
	max-width:200px;
	float:right;
	left:100px;
}
.img1{
	float:right;
	
}


.aside{
	position:fixed;
	right:0;
	background-color:#00442b80;
	margin-top:10px;
	padding-left:20px;
	font-family:
	
}
.section{
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	
	float:left;
}

.article1,.article2,.article3{
	
	float:left
	
}

.text1,.text2,.text3{
	width:500px;
	margin-top:10px;
	
}


/* howsolarworks.html for pc*/
#section2{
	margin-top:8%;
	background-color:#6ca673;
	
	padding:10px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:5px;
	justify-content: space-evenly;
}
#section2 >article{

	
	text-align:left;
	padding:20px 0;
	font-size:16px;	
}
#howsolarworks{
	background-color:#6ca673;
}
#par1{
	grid-column: 2/3;
	grid-row:1/3;
}
#par2{
	grid-column: 1/2;
	grid-row:1/2;
}
#par3{
	grid-column: 3/4;
	grid-row:1/2;
}
#par4{
	grid-column:4/5;
	
}
#par5{
	grid-column:1/2;
	grid-row:2/4;
	
}#par6{
	grid-column: 2/4;
	grid-row:3;
}

/* eusolar.html for pc*/
td{
	margin:20px;
	padding:5px;
	font-size:16px;
	text-align:center;
	
}
.firstrow:first-child{
	background:#FF0;
	text-align:left;
}
td.firstrow:first-letter{
	font-size:150%;
	
}

tr:nth-child(even){
	background:#CCF;
}
tr:nth-child(odd){
	background:#FFF;
}
#pic1,#pic2,#pic3{
	max-width:300px;
}
.aside2{
	float:right;
}
table{
	width: 1000px;
	margin-right:50px;
}
#text4{
	
	margin-top:70px;
	margin-bottom:20px;
	width:50%;
	position:center;
	font-size:16px;
}
#tabletitle{
	margin-bottom:10px;
	position:center;
	font-size:20px;
}
.main{
	background-color:#6ca673;
}
/*contact page*/
#contactintro{
	margin-top:70px;
	margin-bottom:20px;
	width:50%;
	position:center;
	font-size:16px;	
}
.fieldset{
	width:500px;
	
	height:350px;
	float:left;
}
.aside3{
	float:right;
	

}
.cookie{
	
	position:fixed;
	bottom:0;
	right:0;
	color: #FFF;
	background-color:black;
	padding:3px;
}
.copyrightinfo{
	
	bottom:0;
	left:0;
}

.contact{
	width: 300px;
	margin-bottom:20px;
}
.lblname{
	margin-bottom:10px;
	position:center;
	font-size:20px;
}
#legend{
	font-size:20px;	
}

/* media query for Tablet*/
@media only screen and (max-width: 1179px) and (min-width: 481px)
{
	.aside{
		top:300px;
	}
	.section{
		margin-top:150px;
		font-size:12px;
	}
	#section2{
		Display:grid;
		grid-template-columns:unset;
		grid-template-columns:1fr 1fr;
		
	}
	#par1{
	grid-column: 1/2;
	grid-row:1/2;
	}
	#par2{
		grid-column: 2/3;
		grid-row:1/2;
	}
	#par3{
		grid-column: 1/2;
		grid-row:2/3;
	}
	#par4{
		Display:none;
	}
	#par5{
		grid-column:2/3;
		grid-row:2/3;
		
	}#par6{
		grid-column: 1/3;
		grid-row:3/4;
	}
	#section2 >article{
	text-align:left;
	padding:20px 0;
	font-size:12px;	
	}
	td:nth-child(3),th:nth-child(3),td:nth-child(2),th:nth-child(2){
		visibility:hidden;
		
	}
	td{
		
		left:0;
		max-width:700px;
	}
}

/* media query for mobile*/
@media only screen and (max-width: 480px){
	label{
		display:block;
		cursor:pointer;
		
	}
	li a{
		
		text-align: center;
		width: 100%;
		background:#00442b;
		display:none;
	}
	
	.nav-link{
	display:block;
	width: 100%;
	float:top;
	border-bottom:0.5px solid black;
	margin:0;
	
	}

	
	#toggle:checked ~li a {
		display:block;
	}
	
	.aside{
		top:150px;
	}
	.section{
		margin-top:150px;
		font-size:12px;
	}
	.video{
		display:none;
	}
	#section2{
		Display:grid;
		grid-template-columns:unset;
		grid-template-columns:1fr 1fr;
		
	}
	#par1{
	grid-column: 1/2;
	grid-row:1/2;
	
}
	#par2{
		grid-column: 2/3;
		grid-row:1/2;
		font-size:12px;
	}
	#par3{
		grid-column: 1/2;
		grid-row:2/3;
	}
	#par4{
		Display:none;
	}
	#par5{
		grid-column:2/3;
		grid-row:2/3;
		
	}#par6{
		grid-column: 1/3;
		grid-row:3/4;
	}
	#section2 >article{

	margin-left:50px;
	text-align:left;
	padding:20px 0;
	font-size:12px;	
	}
	td:nth-child(3),th:nth-child(3),td:nth-child(2),
	th:nth-child(2),td:nth-child(4),th:nth-child(4),td:nth-child(5),th:nth-child(5){
		visibility:hidden;
}







