*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
#logo{
	height:;
	width:;
	border:;
	padding:;
	margin: ;
}
h1{
	border:;
	padding:;
	margin: ;
}
h2{
	border:;
	padding:;
	margin: ;
}
.nav{
	border:;
	padding:;
	margin: ;
}
#video{
	border:;
	padding:;
	margin: 
}